html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.side-left{
  background: url(auth.png);
  background-size: cover;
}
.darker {
  background: rgba(0, 0, 0, 0.5);
}
.bg-cover{
  background-size: cover;
  background-position: center;
}
.z-pd {
  z-index: 2;
}
.z-pt {
  z-index: 3;
}
.fit-box{
  object-fit: none;
  object-position: center;
  max-height: 150px;
  width: 100%;
}
.b-shadow {
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}
.img-profile{
  width: 150px;
  height: 150px;
}
.ps-fixed{
  position: fixed;
}
.centang {
  width: 250px;
  height: 250px;
}
.cover-fix{
  width: 200px;
  height: auto;
}